<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order a Pet</title>

</head>
<body>
    <h1>Order a Pet</h1>
    <form action="#" method="post">
        <div>
            <span>Accessories:</span>
            <label><input type="checkbox" name="accessory" value="extra_battery_pack"> Extra Battery Pack</label>
            <label><input type="checkbox" name="accessory" value="charging_dock_station"> Charging Dock Station</label>
            <label><input type="checkbox" name="accessory" value="voice_box"> Voice Box</label>
            <label><input type="checkbox" name="accessory" value="camera_attachment"> Camera Attachment</label>
            <label><input type="checkbox" name="accessory" value="robot_control"> Robot Control</label>
            <label><input type="checkbox" name="accessory" value="custom_skins"> Custom Skins</label>
            <label><input type="checkbox" name="accessory" value="bluetooth_speaker"> Bluetooth Speaker</label>
        </div>
        <div>
            <span>Size:</span>
            <label><input type="radio" name="size" value="small"> Small</label>
            <label><input type="radio" name="size" value="medium"> Medium</label>
            <label><input type="radio" name="size" value="large"> Large</label>
        </div>
        <div>
            <span>Color:</span>
            <label><input type="radio" name="color" value="white"> White</label>
            <label><input type="radio" name="color" value="black"> Black</label>
            <label><input type="radio" name="color" value="silver"> Silver</label>
        </div>
        <input type="submit" value="Submit">
    </form>

</body>
</html>