<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order a Pet</title>
</head>
<body>
    <h1>Order a Pet</h1>
    <form action="#" method="post">
        <div>
            <p class="labels">Size:</p>
            <label><input type="radio" name="stuffedSize" value="small"> Small</label>
            <label><input type="radio" name="stuffedSize" value="medium"> Medium</label>
            <label><input type="radio" name="stuffedSize" value="large"> Large</label>
        </div>
        <div>
            <p class="labels">Material:</p>
            <label><input type="checkbox" name="material" value="cotton"> Cotton</label>
            <label><input type="checkbox" name="material" value="polyester"> Polyester</label>
            <label><input type="checkbox" name="material" value="wool"> Wool</label>
        </div>
        <div>
            <p class="labels">Stuffing Type:</p>
            <label><input type="checkbox" name="stuffing" value="cotton"> Cotton</label>
            <label><input type="checkbox" name="stuffing" value="polyester"> Polyester</label>
            <label><input type="checkbox" name="stuffing" value="memory foam"> Memory Foam</label>
        </div>
        <input type="submit" value="Submit">
    </form>

</body>
</html>